.header {
    font-size: $default-font-size * .9;
    padding: 0 $default-font-size * 2;
    background-color: $color-white;
    border-bottom: .1rem solid $color-grey-dark-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
    justify-content: flex-start;
}

.container {
    max-width: 120rem;
    margin: $default-font-size * 6 auto;
    background-color: var(--color-grey-light-2);
    box-shadow: 0 $default-font-size $default-font-size * 4 rgba($color-black, $box-shadow-dark);
    
    min-height: 40rem;
}

.sidebar {
    background-color: $color-grey-dark-1;
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: center;

    
    height: 50rem;

}
.hotel-view {
    background-color: $color-white;
    flex: 1 1;

    // height: 44rem;
}

//////////////////////////////////////////////
//Side Navigation
.side-nav{
    &__item {

    }
    &__link {

    }
    &__icon {
        height: $default-font-size * 1.25;
        width: $default-font-size * 1.25;
    }
}

//////////////////////////////////////////////
//Legal text
.legal {
    font-size: $default-font-size * .75;    
    text-align: center;
    color: $color-grey-light-4;
    padding: $default-font-size;
}