.logo {
    height: $default-font-size * 2;
    margin-left: $default-font-size * 1.125;
}
.search {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(phone) {
        order: 1;
        flex: 1 100%;
        background-color: $color-grey-light-2;
    }

    &__input {
        font-family: inherit;
        border-radius: 100px;
        font-size: inherit;
        background-color: $color-grey-light-2;
        border: none;
        padding: $default-font-size / 2 $default-font-size;
        width: 90%;
        transition: width .25s ease;
        margin-right: -$default-font-size * 2;
        margin-left: $default-font-size / 2;
        &:focus {
            outline: none;
            width: 100%;
            background-color: $color-grey-light-3;
        }
        &::-webkit-input-placeholder {
            // font-weight: 100;
            color: $color-grey-light-4;
        }
        &:focus::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }

        @include respond(phone) {
            margin-right: 0;
            margin-left: 0;
            padding: $default-font-size / 2 $default-font-size $default-font-size / 2 $default-font-size / 4;
            &:focus {
                background-color: $color-grey-light-2;
            }
        }
    }
    &__button {
        cursor: pointer;
        border: none;
        background-color: $color-grey-light-2;
        &:focus {
            outline: none;
        }
        &:active {
            transform: translateY(.2rem);
        }
        @include respond(phone) {
            margin-left: -$default-font-size * 3;
        }
    }
    &__icon {
        height: $default-font-size * 1.25;
        width: $default-font-size * 1.25;
        border: none;
        fill: $color-grey-dark-3;
    }

    &__input:focus ~ &__button>&__icon {
        fill: $color-grey-dark-1;
    }
    &__input:focus ~ &__button {
        background-color: $color-grey-light-3;
    }

    @include respond(phone) {
        &__input:focus ~ &__button {
            background-color: $color-grey-light-2;
        }
    }
    
}

.user-nav {
    position: relative;
    height: $default-font-size * 3;
    align-self: stretch;
    & > * {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 $default-font-size;
        cursor: pointer;
        height: 100%;
        &:hover{
            background-color: $color-grey-light-2;
        }
    }
    display: flex;
    align-items: center;

    &__icon-box {
        position: relative;
    }
    &__icon-box:active, &__user:active {
        background-color: darken($color-grey-light-2, 5%);
    }
    &__icon {
        height: $default-font-size * 1.5;
        width: $default-font-size * 1.5;
        fill: $color-grey-dark-2;
    }
    &__notification {
        font-size: .6875 * $default-font-size;
        height: $default-font-size * 1.375;
        width: $default-font-size * 1.375;
        border-radius: 50%;
        background-color: $color-primary;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27.5%;
        right: 10%;
    }
    &__user-photo {
        height: 1.75 * $default-font-size;
        border-radius: 50%;
    }
    &__user-name {
        margin-left: $default-font-size / 4;
        font-style: italic;
    }

    &__dropdown {
        z-index: 100000;
        display: flex;
        flex-direction: column;
        box-shadow: $shadow-dark;
        color: $color-primary;
        position: absolute;
        top: 102%;
        right: 0;
        background-color: #fff;
        // width: 100%;
        background-image: linear-gradient(to left,$color-white, lighten($color-grey-dark-1, 66%));
        text-align: right;
        transition: opacity .33s cubic-bezier(1,0,0,1),
                    width 33s cubic-bezier(1,0,0,1);

        &-item {
            color: inherit;
            text-decoration: none;
            // width: 100%;
            padding: $default-font-size * .75 $default-font-size;

            text-transform: uppercase;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            transition: width .25s cubic-bezier(1,0,0,1),
                        opacity .25s cubic-bezier(1,0,0,1);
        }
        &-icon-box {
            display: flex;
            margin-left: .5 * $default-font-size;
        }
        &-span {
            position: absolute;
            right: 100%;
            transition: right .33s cubic-bezier(1,0,0,1),
                        opacity .33s .135s cubic-bezier(1,1,1,1);
        }
        &-icon {
            height: 2rem;
            width: 2rem;
            fill: currentColor;
        }
    }
    // &__user:focus &__dropdown {
    //     opacity: 1;
    //     visibility: visible;
    // }
    &__dropdown-item:hover {
        // background-color: $color-primary;
        background-image: linear-gradient(to left, $color-primary, lighten($color-primary, 10%));
        color: $color-white;
        fill: $color-white;
    }
}

.gallery{
    display: flex;
    &__item {
        
    }
    &__photo {
        width: 100%;
        display: block;
    }
}

.overview {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include respond(wrap-start) {
        padding: $default-font-size;
    }

    &__heading {
        font-size: $default-font-size * 1.5;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: $default-font-size $default-font-size $default-font-size 2 * $default-font-size;

        @include respond(wrap-start) {
            padding: 0 $default-font-size 0 0;
        }
    }
    &__stars {
        margin-right: auto;
        // flex: 1;
    }
    &__icon-star, &__icon-location {
        width: $default-font-size;
        height: $default-font-size;
        fill: $color-primary;
    }
    &__icon-location {
        margin-right: $default-font-size * .15625;
    }
    &__location {
        font-size: $default-font-size * .75;
        display: flex;
        align-items: center;
        transform: translateY(-0.2rem);
    }
    &__rating {
        background-color: $color-primary;
        margin-left: $default-font-size * 2;
        color: $color-white;
        align-self: stretch;
        padding: $default-font-size;
        padding: 0 $default-font-size;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include respond(wrap-start) {
            width: 100%;
            padding: $default-font-size / 2 0;
            margin-left: 0;
            margin-top: $default-font-size / 2;
        }
        @include respond(phone) {
            // margin-left: $default-font-size;
        }
    }
    &__rating-count {
        font-size: $default-font-size / 2;
        text-transform: uppercase;
    }
    &__rating-average {
        font-size: $default-font-size * 1.25;
        font-weight: 300;
    }
}

.btn {
    cursor: pointer;
    &--inline {
        border: none;
        color: $color-primary;
        background-color: transparent;
        font-size: inherit;
        border-bottom: .1rem solid currentColor;
        padding: $default-font-size * .15625 $default-font-size * .15625 $default-font-size * .15625 $default-font-size * .15625;
        display: inline-block;

        transition: color .2s ease-in-out,
        margin .2s cubic-bezier(1,0,0,1);

        & span {
            margin-left: $default-font-size * .25;
            transition: margin-left .2s ease;
        }

        &:hover{
            color: $color-grey-dark-1;
        }

        &:focus {
            outline: none;
            animation: pulsate infinite 1s linear;
        }
    }
    &:hover{
        & span {
            margin-left: $default-font-size * .5;

        }
    }
}

.paragraph {
    padding: 0 $default-font-size * 2;
    &:first-child {
        padding-top: $default-font-size * 2;

    }
    &:not(:last-of-type) {
        margin-bottom: $default-font-size * 2;
    }

    @include respond(tab-port) {
        &:first-child {
            padding-top: $default-font-size;
    
        }
        &:not(:last-of-type) {
            margin-bottom: $default-font-size;
        }
    }
}

.list {
    list-style: none;
    column-count: 2;
    margin: $default-font-size * 2 0 $default-font-size ;
    padding: $default-font-size * 2;
    border-top: $line;
    border-bottom: $line;

    &__item {
        margin-bottom: $default-font-size / 2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__item::before {
            content: '';
            display: inline-block;
            height: $default-font-size / 2;
            width: $default-font-size / 2;
            margin-right: $default-font-size / 2;

            //older browsers
            background-size: cover;
            background-image: url(../img/chevron-thin-right.svg);

            //using masks (newer browsers)
            @supports(-webkit-mask-image: url() or (mask-image: url())) {
                -webkit-mask-image: url(../img/chevron-thin-right.svg);
                mask-image: url(../img/chevron-thin-right.svg);
                -webkit-mask-size: cover;
                background-color: $color-primary;
                mask-size: cover;
                background-image: none;
            }

    }

    @include respond(tab-port) {
        padding: $default-font-size;
        margin: $default-font-size 0 $default-font-size;
    }
    @include respond(phone) {
        column-count: 1;
    }
}

.recommend {
    padding: 0 $default-font-size $default-font-size $default-font-size;
    font-size: $default-font-size * .85;
    color: $color-grey-dark-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__photo {
        box-sizing: content-box;
        width: $default-font-size * 2;
        border-radius: 50%;
        border: .3rem solid $color-white;

        &:not(:last-child) {
            margin-right: -$default-font-size * .9;
        }
    }
    &__count {
        // max-width: 66%;
    }
    &__friends {
        display: flex;
    }
}

.review {
    width: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: $shadow-light;
    font-size: $default-font-size * .85;
    padding: $default-font-size * 2;
    background-color: $color-white;
    &:not(:last-child) {
        margin-bottom: $default-font-size * 2;

        @include respond(phone) {
            margin-bottom: $default-font-size;
        }
    }
    &__rating {
        margin-left: auto;
    }
    &__text {
        margin-bottom: $default-font-size;
        z-index: 4;
        position: relative;
    }
    &__user {
        // padding: 3.2rem 0 0 0;
        display: flex;
        align-items: center;
    }
    &__photo {
        height: $default-font-size * 3;
        width: $default-font-size * 3;
        border-radius: 50%;
        margin-right: $default-font-size / 2;
    }
    &__user-box {
        
    }
    &__user-name {
        font-size: $default-font-size * .66;
        font-weight: 600;
        text-transform: uppercase;
        // margin-bottom: $default-font-size * .25;
    }           
    &__user-date {
        font-size: $default-font-size * .5;
        color: $color-grey-dark-3;
    }  
    &__rating {
        font-size: $default-font-size * 1.5;
        color: $color-primary;
    }

    &::before {
        line-height: .68;
        content: '\201c';
        position: absolute;
        top: 0;
        left: 0;
        font-size: $default-font-size * 10;
        color: $color-grey-light-2;
        font-family: sans-serif;
    }

    @include respond(tab-port) {
        padding: $default-font-size;
        &:first-child{
            margin-top: $default-font-size;
        }
    }
}     

.cta {

    // color: $color-grey-dark-1;
    padding: $default-font-size * 2;
    text-align: center;
    &__book-now {
        text-transform: uppercase;
        font-size: $default-font-size * 1;
        font-weight: 400;
        margin-bottom: $default-font-size * 1.5;

        @include respond(tab-port) {
            margin-bottom: 1.2rem;
        }
    }

    @include respond(tab-port) {
        padding: $default-font-size;
    }
}

.cta-btn {
    cursor: pointer;
    width: 33%;
    min-width: $default-font-size * 15;
    height: $default-font-size * 4;
    overflow: hidden;
    position: relative;
    font-size: $default-font-size;
    border: none;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 1000px;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary);
    color: $color-white;
    -webkit-transition: background-image .75s cubic-bezier(1,0,0,1);
    transition: background-image .75s cubic-bezier(1,0,0,1);

    &:hover {
        background-image: linear-gradient(to left, $color-primary-light, $color-primary);
    }
    &:focus {
        outline: none;
        animation: pulsate infinite 1s cubic-bezier(1,0,0,1);
    }

    //MY APPROACH
    & > * {
        display: inline-block;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: top .75s cubic-bezier(1,0,0,1);
    }
    &__visible {
        top: 50%;
        padding: $default-font-size * 1.5 $default-font-size * 0;
    }
    &__invisible {
        top: -100%;
        padding: $default-font-size * 1.5 $default-font-size * 0;
    }
    &:hover &__invisible {
        top: 50%;
    }
    &:hover &__visible {
        top: -100%;
    }

    //JONAS'S APPROACH
    // & > * {
    //     display: inline-block;
    //     height: 100%;
    //     width: 100%;
    //     transition: top .75s cubic-bezier(1,0,0,1), transform .75s cubic-bezier(1,0,0,1);
    // }
    // &__visible {
    //     padding: $default-font-size * 1.5 $default-font-size * 3;
    // }
    // &__invisible {
    //     position: absolute;
    //     top: -100%;
    //     left: 0%;
    //     padding: $default-font-size * 1.5 $default-font-size * 0;
    // }
    // &:hover &__invisible {
    //     top: 0%;
    // }
    // &:hover &__visible {
    //     transform: translateY(100%);
    // }
}
