//////////////////////////////////////////////
//LOGO
.logo {
    height: $default-font-size * 2
}

//////////////////////////////////////////////
//search
.search {
    flex: 0 0 40%;


    &__input {
        font-family: inherit;
        border-radius: 100px;
    }
    &__button {

    }
    &__icon {
        height: $default-font-size * 1.25;
        width: $default-font-size * 1.25;
    }
}




//////////////////////////////////////////////
//user navigation
.user-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__icon-box {

    }
    &__icon {
        height: $default-font-size * 1.5;
        width: $default-font-size * 1.5;
    }
    &__notification {

    }
    &__user {

    }
    &__user-photo {
        height: 1.75 * $default-font-size;
        border-radius: 50%;
    }
    &__user-name {
        
    }
    &__username {

    }
}